# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Logs
*.log

# Streamlit
.streamlit/secrets.toml

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Docker
*.tar